<div class="container">
  <div class="row justify-content-md-center mt-3">
    <div class="col-md-4 login-form">

      <h1>Sign up!</h1>
      <hr>

      <%= form_for(resource, as: resource_name, url: player_registration_path) do |f| %>

        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true, autocomplete: 'off', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit  'Sign up', class: 'btn btn-primary float-end' %>
        </div>
      <% end %>
      <a href='/players/sign_in'>Sign in</a>
    </div>
  </div>
</div>